* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.content-container {
  display: grid;
  justify-content: center;
  text-align: center;
}

.btn-container {
  display: grid;
}
